<div style="overflow: scroll;">
  <h1>About Me</h1>
  <p>
    Most of the time, I write backend script. Been doing it in 3-4 years with <span>Node.js</span>, sometimes <span>PHP</span> and <span>Python</span>. Database? <span>MongoDB</span>, <span>MySQL</span>, <span>PostgreSQL</span> you name it.
  </p>
  <p>
    I do frontend too. I do it with <span>Javascript</span>. Like this page, I wrote it all in pure <span>Vanilla</span>. I am quite familiar with <span>React</span> & <span>React Native</span> and <span>Vue</span>.
  </p>
  <p id="last">
    Not only crafting a software, I deploy it to server too. I know <span>Heroku</span>, <span>AWS</span>, and <span>GCP</span>. I am also a fluent Git user and not afraid to rebase and resolve conflicts.
  </p>
  <h3>Experience</h3>
  <hr class="line-short">
  <p id="last">
    I work at <a href="http://pomona.id" target="_blank" rel="noopener noreferrer">Pomona</a>, a smart saving platform for buyers and sales conversion tool for FMCG companies. Previously, I taught fullstack web development at <a href="http://hacktiv8.com" target="_blank" rel="noopener noreferrer">Hacktiv8 Coding Bootcamp</a>.
  </p>
  <h3>Education</h3>
  <hr class="line-short">
  <p id="last">
    Welp, if you care about my education background. I graduated from computer engineering major at <a href="http://ui.ac.id" target="_blank" rel="noopener noreferrer">Universitas Indonesia</a>.
  </p>
</div>