<div style="overflow: scroll;">
  <h1>About Me</h1>
  <p>
    Most of the time, I write backend script. Been doing it in 5-6 years with <span>Node.js</span>, sometimes <span>PHP</span> and <span>Python</span>. Database? <span>MongoDB</span>, <span>MySQL</span>, <span>PostgreSQL</span> you name it.
  </p>
  <p>
    I can do frontend too, but prefer not to. I do it with <span>Javascript</span>. Like this page, I wrote it all in pure <span>Vanilla</span>. I am quite familiar with <span>React</span>, <span>Angular</span>, and <span>Vue</span>.
  </p>
  <p id="last">
    Not only crafting a software, I deploy it to server too. I know <span>Heroku</span>, <span>AWS</span>, and <span>GCP</span>. I speak git and linux. My work time is spent 88% on terminal.
  </p>
  <h3>Experience</h3>
  <hr class="line-short">
  <p id="last">
    Currently, I am working at <a href="http://pitik.id" target="_blank" rel="noopener noreferrer">Pitik Digital Indonesia</a>. We're aiming to elevate the prosperity of Indonesia chicken farmers by increasing their productivity and operational efficiency through technological innovations.
  </p>
  <p id="last">
    Previously, I worked at <a href="http://tanihub.com" target="_blank" rel="noopener noreferrer">TaniHub</a>, <a href="http://pomona.id" target="_blank" rel="noopener noreferrer">Pomona</a>, and <a href="http://hacktiv8.com" target="_blank" rel="noopener noreferrer">Hacktiv8.</a>
  </p>
  <h3>Education</h3>
  <hr class="line-short">
  <p>
    I graduated from computer engineering major at <a href="http://ui.ac.id" target="_blank" rel="noopener noreferrer">Universitas Indonesia</a>. I also finished my professional engineer program at the same university, which means that I legally bear title of <span>Ir. (insinyur)</span> before my name.
  </p>
</div>