<div style="overflow: scroll;">
  <h1>About Me</h1>
  <p>
    I have been doing software development professionally since 2016. Most of the time I write with <span>Node.js</span>, sometimes
    <span>Go</span>, <span>PHP</span>, or <span>Python</span>. I have worked with various kind of database systems, implemented   
    different kind of architectures, and deployed on multiple cloud services.
  </p>
  <p>
    I can do both backend and frontend. Like this page, I wrote it all in pure <span>Vanilla JavaScript</span>.
    I am also quite familiar with <span>React</span>, <span>Angular</span>, and <span>Vue</span>. Also kinda interested in Data and IoT too.
  </p>
  <p id="last">
    Beside writing codes, I do other stuff related to development too. From writing technical documents to reviewing codes,
    I have experienced all cycles in SDLC. I also work with various teams such as product, data, or IoT team in daily basis.
  </p>
  <h3>Experience</h3>
  <hr class="line-short">
  <p id="last">
    Currently, I work at <a href="https://pitik.id" target="_blank" rel="noopener noreferrer">Pitik</a>. I helped building Pitik's backend
    from scratch. I did some architecting, a bit of infrastructure, and setting up some standards and cultures for the engineering team.
  </p>
  <p id="last">
    Previously, I worked at <a href="http://tanihub.com" target="_blank" rel="noopener noreferrer">TaniHub</a>, 
    <a href="http://gudangada.com" target="_blank" rel="noopener noreferrer">GudangAda</a>, 
    <a href="http://pomona.id" target="_blank" rel="noopener noreferrer">Pomona</a>, 
    and <a href="http://hacktiv8.com" target="_blank" rel="noopener noreferrer">Hacktiv8.</a>
  </p>
  <h3>Education</h3>
  <hr class="line-short">
  <p>
    I finished my undergraduate from computer engineering major at <a href="https://ui.ac.id" target="_blank" 
    rel="noopener noreferrer">Universitas Indonesia</a>. I also earned my professional engineer title (Ir.) from the same university.
  </p>
</div>