<div style="overflow: scroll;">
    <h1>Projects</h1>
    <p id="last">
      Some of my past projects    
    </p>
    <h3>Markoding Platform API</h3>
    <hr class="line-short">
    <p id="last" style="font-size: 0.8em">
      Markoding (Yayasan Daya Kreasi Anak Bangsa) or “Mari kita koding! (“Let’s learn coding!”) is a non-profit organization established in 2017 based in Jakarta, Indonesia. I worked for them as one of two backend developers to build the platform that enables its community to learn and communicate during pandemic 
      <a href="https://github.com/markoding-platform/markodingplatform-api" target="_blank" rel="noopener noreferrer">
        <span>detail...</span>
      </a>
    </p>
    <h3>Image Optim Upload</h3>
    <hr class="line-short">
    <p id="last" style="font-size: 0.8em">
      Unofficial package to handled the upload and compress image by using ImageOptim compression service. It takes an uploaded image URL, converts it, and returns to converted buffer. 
      <a href="https://www.npmjs.com/package/image-optim-upload" target="_blank" rel="noopener noreferrer">
        <span>detail...</span>
      </a>
    </p>
    <h3>myanimelist to pdf</h3>
    <hr class="line-short">
    <p id="last" style="font-size: 0.8em">
      Using puppeteer to generate pdf from myanimelist.net/news just in case need to upload pdf for sites like scribd.com
      <a href="https://github.com/akbarsahata/myanimelist-to-pdf" target="_blank" rel="noopener noreferrer">
        <span>detail...</span>
      </a>
    </p>
  </div>